{# This jinja template is part of the example hrt/pyctor/tests/test_render_jinja.py that shows how to use jinja template to generate code. #}
res = {{ matmul_autodiff_func_name }}({{ matmul_autodiff_func_args }})