[submodule "hetero_edgesoftmax/libnpy"]
	path = third_party/libnpy
	url = https://github.com/llohse/libnpy/
[submodule "hetero_edgesoftmax/cusplibrary"]
	path = third_party/cusplibrary
	url = https://github.com/cusplibrary/cusplibrary
[submodule "third_party/sputnik"]
	path = third_party/sputnik
	url = https://K-Wu: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@github.com/K-Wu/sputnik_experimental
[submodule "third_party/cutlass"]
	path = third_party/cutlass
	url = https://github.com/NVIDIA/cutlass
[submodule "third_party/OthersArtifacts/graphiler"]
	path = third_party/OthersArtifacts/graphiler
	url = https://K-Wu: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@github.com/K-Wu/graphiler_experimental
[submodule "third_party/OthersArtifacts/dgl-hack"]
	path = third_party/OthersArtifacts/dgl-hack
	url = https://K-Wu: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@github.com/K-Wu/dgl-hack_experimental
[submodule "third_party/OthersArtifacts/seastar-paper-version"]
	path = third_party/OthersArtifacts/seastar-paper-version
	url = https://K-Wu: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@github.com/K-Wu/seastar-paper-version_experimental
[submodule "third_party/OthersArtifacts/hgl"]
	path = third_party/OthersArtifacts/hgl
	url = https://K-Wu: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@github.com/K-Wu/hgl_experimental
[submodule "hetero_edgesoftmax/utils/sass_analyzer"]
	path = hrt/utils/sass_analyzer
	url = git@github.com:K-Wu/sass_analyzer.git
[submodule "hetero_edgesoftmax/utils/nsight_utils"]
	path = hrt/utils/nsight_utils
	url = https://github.com/K-Wu/HET_nsight_utils.git
[submodule "hrt/include/DGLHackKernel/OpPrototyping/MySimpleNDArray/utils"]
	path = hrt/include/DGLHackKernel/OpPrototyping/MySimpleNDArray/utils
	url = https://github.com/K-Wu/NDArrayUtils
