*.txt
!CMakeLists.txt
x64/
.vs/
.vscode/
.idea/
/build**/
third_party/build**/
cmake-build**/
*.log
*.ncu-rep
*.nsys-rep
*.sqlite
!**/utils/test/**.ncu-rep
!**/utils/test/**.nsys-rep
*.do_not_use
*.cubin
*.pyc
__pycache__/
dataset/
data/MyHybData
data/MyWikiKG2
data/ogbn_mag
*.out
*.npy
*.json
**/misc/artifacts/**.txt
*.pkl
!**/ogbn_mag_0.1/**.npy
/**/artifacts
!hrt/pyctor/examples/**/**.json